*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
.terraform.lock.hcl
argocd/*.bak
argocd/*.tmp
cert-manager/*.backup
cert-manager/*.tmp
cert-manager/terraform.tfstate
helm-charts/**/charts/
helm-charts/**/tmpcharts/
helm-charts/**/Chart.lock
helm-charts/**/values.yaml
helm-charts/**/.helmignore
*.log
.vscode/
.idea/
*.swp
*.swo
app/**/node_modules/
app/**/package-lock.json
app/**/dist/
app/**/build/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.old
.env
.env.*
